.scrollComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 86%;
}

.createPostContainer {
  display: flex;
  align-items: center;
  height: 10svh;
  width: 100%;
  padding-inline: 1rem;
  gap: 1.3rem;
  background: rgb(255, 241, 241);
  border-radius: 10px;
  position: relative;
}

.profileImg {
  border-radius: 100%;
  height: 3.6rem;
  width: fit-content;
}

.createPostContainer > textarea {
  width: 100%;
}

.fab {
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.fab > svg {
  max-width: fit-content;
  min-width: 30px;
  height: 40px;
}

.textAreaOfContent {
  width: 80%;
  height: 70%;
  border: 1px solid rgb(5, 5, 55);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}

.uploadSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px;
}

.uploadBtn {
  background: rgb(11, 11, 97);
  color: white;
  padding-inline: 0.6rem;
  padding-block: 0.3rem;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.singleCard {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.cardProfileImg {
  border-radius: 100%;
  height: 4.5rem;
  width: fit-content;
}

.singleCard__profileContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
}

.profileContainer__name > p:nth-child(1) {
  font-weight: bold;
}
.profileContainer__name > p:nth-child(2) {
  color: grey;
  font-family: "Vibur", cursive;
}
.profileContainer__name > p:nth-child(3) {
  padding-top: 1.3rem;
}

.singleCard__profileContainer > img {
  width: 10%;
  border-radius: 100%;
}

.singleCard__image {
  width: 100%;
  padding-top: 1.3rem;
  height: fit-content;
  overflow: hidden;
}

.singleCard__image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
}

.optionsContainer {
  display: flex;
  height: 20%;
  width: 100%;
  padding-block: 0.5rem;
  justify-content: space-between;
}

.singleOption__optionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.singleOption__optionsContainer > svg {
  height: 100%;
  width: 8%;
  cursor: pointer;
}

.commentsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCommentsContainer {
  width: 40vw;
  height: 80vh;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
}
