/* Page Layout */
.container {
  align-items: center;
  background: snow;
  display: flex;
  justify-content: center;
  height: 90svh;
}

/* Login Card */
.cardContainer {
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  display: flex;
  height: 80vh;
  overflow: hidden;
  width: 80vw;
}

/* Card Left Panel */
.cardContainer__left {
  flex: 0.6;
  padding: 2rem;
  text-align: center;
}

.cardleft__heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  max-width: 400px;
  margin: 0 auto;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  gap: 1.2rem;
}

.inputField {
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  border-radius: 10px;
  border: 1px solid silver;
  width: 100%;
}

.buttonWithOutline {
  padding: 0.8rem 1.3rem;
  background: silver;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* Card Right Panel */
.cardContainer__right {
  align-items: center;
  display: flex;
  flex: 0.4;
  background: rgb(18, 18, 87);
  justify-content: center;
}
