.container {
  padding: 1.2rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  background: rgb(43, 43, 191);
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

.navbarProfile {
  display: flex;
  gap: 1.2rem;
}

.navbarProfile > p:nth-child(1) {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
}

.navbarProfile > p:nth-child(2) {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  cursor: pointer;
}

.navbarProfile > button {
  font-weight: 600;
  cursor: pointer;
  color: red;
  padding-inline: 0.3rem;
  padding-block: 0.2rem;
  border: none;
  background-color: #fff;
}
